/*
 * @Author: huangying
 * @Date: 2018-08-22 20:49:29
 * @Last Modified by: qiuying
 * @Last Modified time: 2018-09-29 17:41:13

 */
@import './color';
html{
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar:hover {
    width: 16px;
    height: 16px;
  }
  ::-webkit-scrollbar-track {
    background: #e6e7ef;
  }
  ::-webkit-scrollbar-thumb {
    background: #d9dadf;
  }
}
body {

  background: $search-box-bgColor !important;

}
p {
  margin-bottom: 0 !important;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
a {
  &:hover,
  &:link,
  &:visited,
  &:active {
    text-decoration: none;
  }
}
/* float */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* display */
.dsp_i {
  display: inline;
}

.dsp_ib {
  display: inline-block;
}

.dsp_b {
  display: block;
}

/* flex */
.flex {
  display: flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex_sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex_sa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* 垂直居中 */
.flex_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex_c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_start {
  align-items: flex-start;
}

.flex_end {
  align-items: flex-end;
}
.flex_center {
  align-items: center;
}

.flex_baseline {
  align-items: baseline;
}

.flex_stretch {
  align-items: stretch;
}

.flex_n {
  flex: none;
}

.flex_1 {
  flex: 1;
}

.flex_2 {
  flex: 2;
}

.flex_3 {
  flex: 3;
}

/* text-align */
.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

/* 省略 */
.wes {
  /* 多出部分用省略号表示 , 用于一行 */
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wes_2 {
  /* 适用于webkit内核和移动端 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.wes_3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.wes_4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

/* 鼠标样式 */

.csd {
  cursor: default;
}

.csp {
  cursor: pointer;
}

.csh {
  cursor: help;
}

.csm {
  cursor: move;
}

.ant-btn {
  padding: 0 10px;
}
// 小型文字按钮
.ant-btn.text_btn {
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  background: rgba(239, 243, 250, 1);
  border: 1px solid rgba(214, 216, 221, 1);
  border-radius: 4px;
  color: $main-text-color;
  font-size: 14px;
  &:hover {
    color: $main-button-color;
    border: 1px solid $main-button-color;
    background: rgba(239, 243, 250, 1);
  }
}

.ant-btn.small_btn {
  height:24px;
  line-height: 24px;
}
// 按钮样式 底色浅色
.ant-btn.default_btn {
  min-width: 80px;
  border-radius: 16px;
  font-size: 14px;
  border-color: $main-button-color;
  color: #6185ee;
  background-color: #eff3fa;
  box-shadow: 0 4px 10px rgba(97, 133, 238, 0.1);
  &:hover,
  &:focus {
    background-color: #dae5f7;
    border-color: $main-button-color;
    color: #6185ee;
  }
  .iconfont {
    margin-right: 5px;
  }
}

// 蓝色底色
.ant-btn.primary_btn {
  min-width: 80px;
  border-radius: 16px;
  font-size: 14px;
  background-color: $main-button-color;
  color: #fff;
  box-shadow: 0 4px 10px rgba(89, 143, 232, 0.1);
  border-color: $main-button-color;
  &:hover,
  &:focus {
    color: #fff;
    background-color: #5080d0;
    border-color: $main-button-color;
  }
  .iconfont {
    margin-right: 5px;
  }
}

// 重置 底色灰色
.ant-btn.general_btn {
  min-width: 80px;
  border-radius: 16px;
  font-size: 14px;
  background-color: $secondary-text-color;
  color: #fff;
  box-shadow: 0 4px 10px rgba(114, 123, 141, 0.1);
  border-color: $secondary-text-color;
  &:hover,
  &:focus {
    color: #fff;
    background-color: #666e7f;
    border-color: $secondary-text-color;
  }
  & > .anticon + span,
  & > span + .anticon {
    margin-left: 0 !important;
  }
  .iconfont {
    margin-right: 5px;
  }
}

// 删除 hover红色
.ant-btn.danger_btn {
  min-width: 80px;
  border-radius: 16px;
  font-size: 14px;
  border-color: $main-button-color;
  color: $main-button-color;
  background-color: $base-border;
  box-shadow: 0 4px 10px rgba(97, 133, 238, 0.1);
  &:hover,
  &:focus {
    background-color: #fbeceb;
    border-color: $danger;
    color: $danger;
    box-shadow: 0 4px 10px RGBA(219, 68, 55, 0.1);
  }
  .iconfont {
    margin-right: 5px;
  }
}

// 删除 白底红色边框
.ant-btn.fail_btn {
  min-width: 80px;
  border-radius: 20px;
  font-size: 14px;
  border-color: $danger;
  color: $danger;
  background-color: #fff;
  &:hover,
  &:focus {
    background-color: #fff;
    border-color: $danger;
    color: $danger;
  }
  .iconfont {
    margin-right: 5px;
  }
}
// 通过 白底绿色边框
.ant-btn.success_btn {
  min-width: 80px;
  border-radius: 20px;
  font-size: 14px;
  border-color: $success;
  color: $success;
  background-color: #fff;
  &:hover,
  &:focus {
    background-color: #fff;
    border-color: $success;
    color: $success;
  }
  .iconfont {
    margin-right: 5px;
  }
}
.search_icon.ant-input-affix-wrapper {
  width: auto;
}
.search_icon {
  -webkit-app-region: no-drag;
  width: 218px;
  height: 34px;
  .ant-input:not(:first-child) {
    padding-left: 44px !important;
  }
  .iconfont {
    font-size: 18px !important;
  }
  .ant-input-prefix {
    color: $secondary-button;
    left: 16px !important;
  }
  input {
    width: 218px;
    border-radius: 18px;
    background-color: $search-box-bgColor;
    border-color: $search-box-bgColor;
    &::-webkit-input-placeholder {
      color: $placeholder-color;
    }
  }
  .ant-input {
    border-color: $search-box-bgColor !important;
  }
  .ant-input:focus {
    border-color: $search-box-bgColor !important;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.ant-message-notice-content {
  width: 240px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px 0px rgba(50, 55, 90, 0.2);
  i {
    font-size: 18px;
  }
  .ant-message-custom-content {
    font-size: 16px;
  }
  .ng-message-content {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
    color: $select-border-color;
  }
}
.ant-form-vertical .ant-form-item {
  padding-bottom: 0 !important;
}
.ant-form {
  .ant-form-item {
    line-height: 1.5;
    margin-bottom: 16px;
    .ant-form-item-label {
      label {
        font-size: 14px;
        color: $secondary-text-color;
      }
    }
  }
  .ant-form-item-with-help {
    margin-bottom: 2px;
    .ant-form-explain {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .ant-form-item-required:before {
    color: $danger;
  }
}
.ngForm_tooltip .ant-tooltip-arrow,
.ngForm_tooltip .ant-tooltip-inner {
  border-color: $search-box-bgColor;
  color: #b9bec5;
  background-color: $search-box-bgColor;
  font-size: 12px;
}
.ant-select-tree {
  max-height: 400px;
  max-width: 500px;
}

.ngConfirmModal {
  width: 240px !important;
  .anticon {
    display: none;
  }
  .ant-modal-content {
    width: 240px;
    .ant-confirm-body {
      text-align: center;
    }
  }
  .ant-confirm-btns {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .ant-confirm-body .ant-confirm-content {
    margin-left: 0;
  }

  .ant-btn {
    height: 24px;
    line-height: 24px;
    min-width: 60px;
    border-radius: 16px;
    font-size: 14px;
    border-color: $main-button-color;
    color: #6185ee;
    background-color: #eff3fa;
    box-shadow: 0 4px 10px rgba(97, 133, 238, 0.1);
    &:hover,
    &:focus {
      background-color: #dae5f7;
      border-color: $main-button-color;
      color: #6185ee;
    }
    .iconfont {
      margin-right: 5px;
    }
  }
  .ant-btn-primary {
    height: 24px;
    line-height: 24px;
    margin-left: 16px !important;
    min-width: 60px;
    border-radius: 16px;
    font-size: 14px;
    background-color: $main-button-color;
    color: #fff;
    box-shadow: 0 4px 10px rgba(89, 143, 232, 0.1);
    border-color: $main-button-color;
    &:hover,
    &:focus {
      color: #fff;
      background-color: #5080d0;
      border-color: $main-button-color;
    }
    .iconfont {
      margin-right: 5px;
    }
  }
  .ant-confirm-content {
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
    color: $select-border-color;
  }
  .ant-modal-body {
    padding: 26px 20px 18px;
  }
  .ant-confirm-title {
    font-size: 16px;
  }
}

.successColor {
  color: $success;
}
.warningColor {
  color: $warning;
}
.dangerColor {
  color: $danger;
}
.mainColor {
  color: $main-button-color;
}
.overdueColor {
  color: $select-border-color;
}
.secondaryTextColor {
  color: $secondary-text-color
}

.fixed_table-hide {
  .ant-table-fixed-columns-in-body,
  .ant-table-fixed-columns-in-body {
    .tablbOptions,
    span {
      display: none;
    }
  }
}
